@import '../../utils/styles/flex.scss';
@import '../../utils//styles/theme.scss';

.navbar{
    @include flex(row, center, flex-start);
    padding: 1rem 1.5rem;
}

.nav-logo{
    width: 8rem;
    height: 8rem;
}

.nav-menu{
    @include flex(row, center, space-between)
}
.nav-item{
    margin-left: 6rem;
}

.nav-link{
    font-size: 1.7rem;
    font-weight: 500;
    color: $colorWhite;
    text-transform: capitalize;
}